<robot name="tinker_description">
  <link name="base_link">
    <visual>
      <origin
        xyz="0.32 0.3 -0.23"
        rpy="0. 0. 3.1416" />
      <geometry>
        <mesh
          filename="package://tinker_description/meshes/tinker_base.stl"
          scale="1 1 1"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.96 0.81 0.36 1" />
      </material>
    </visual>
  </link>

  <link name="velodyne"> </link>

  <link name="urg_laser_left"> </link>
  <link name="urg_laser_right"> </link>


  <joint name="base_to_velodyne" type="fixed" >
    <parent link="base_link" />
    <child link="velodyne" />
    <origin xyz="-0.275 0.13 1.07" />
  </joint>

  <joint name="base_to_urg_left" type="fixed">
    <parent link="base_link" />
    <child link="urg_laser_left" />
    <origin
        xyz="0.25 0.19 0.22"
        rpy="0. 0. 1.5708"/>
  </joint>

  <joint name="base_to_urg_right" type="fixed">
    <parent link="base_link" />
    <child link="urg_laser_right" />
    <origin xyz="0.25 -0.19 0.25" />
  </joint>
</robot>
