<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
  <arg name="verbose" default="false" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <env if="$(arg verbose)" name="ROSCONSOLE_CONFIG_FILE" value="$(find tinker_moveit_config)/config/rosconsole.conf"/>
  
  <!-- Launch moveit -->
  <include file="$(find tinker_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
    <arg name="fake_execution" default="$(arg sim)" />
  </include>
</launch>
